@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Iransans;
  src: url("./fonts/IRANSans/IRANSans.ttf");
}
@font-face {
  font-family: Iransans-Medium;
  src: url("./fonts/IRANSans/IRANSans_Medium.ttf");
}
@font-face {
  font-family: Iransans-Bold;
  src: url("./fonts/IRANSans/IRANSans_Bold.ttf");
}
@font-face {
  font-family: IRANSansFaNum;
  src: url("./fonts/IRANSans/IRANSansFaNum.ttf");
}
/*Start Reset Styles*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* padding-top: 7rem; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  outline: none;
}
input:focus {
  outline: none;
}
/*Finish Reset Styles*/

/*Start Variables Styles*/
:root {
  --primary-font: "Iransans";
  --pink-color: #c40545;
  --red-color: #d60644;
  --gray-color: #f4f4f4;
  --white-color: #fff;
  --dark-color: #1f1f1f;
  --box-shadow: 0 0 15px rgba(128, 128, 128, 0.486);
}
/*Finish Variables Styles*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 85%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-family: var(--primary-font);
}
.persian-font {
  font-family: "IRANSansFaNum";
}
.container {
  width: 90%;
  margin: 0 auto;
}
.swal2-container {
  padding: 0.5rem  1rem;
}
.swal2-title {
  font-size: 1.7rem;
}
